.cm-s-obsidian span.cm-hmd-internal-link,
.markdown-preview-view .internal-link {
  text-decoration: none;
  font-weight: 550;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.125em;
  border-radius: 4px;
}
